{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <section class="mdx-hero">
    <div class="md-grid mdx-hero__content">
      <div class="mdx-hero__icon">
        <span class="twemoji">
          {% include ".icons/material/account-voice.svg" %}
        </span>
      </div>
      <h1>JW Talk Coach</h1>
      <p>Talk preparation scripts para sa mga JW speakers</p>
      <div class="mdx-hero__actions">
        <a href="{{ 'talks/10min/0213-siya-ang-magpapatatag-sa-iyo/' | url }}" class="md-button md-button--primary">
          10-Minute Talks
        </a>
        <a href="{{ 'talks/30min/33-makakamit-pa-kaya-natin-ang-tunay-na-katarungan/' | url }}" class="md-button">
          30-Minute Talks
        </a>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}{% endblock %}
